<?xml version="1.0"?>

<!--
License: Apache 2.0. See LICENSE file in root directory.
Copyright(c) 2020 Intel Corporation. All Rights Reserved

This is the URDF model for the inertial modules of the
Intel RealSense 435i camera.
-->
<robot name="t265_imu_modules" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="t265_imu_modules" params="name use_nominal_extrinsics">
    <xacro:if value="${use_nominal_extrinsics}">
      <link name="${name}_accel_frame" />
      <link name="${name}_accel_optical_frame" />
      <link name="${name}_gyro_frame" />    
      <link name="${name}_imu_optical_frame" />

      <joint name="${name}_gyro_joint" type="fixed">
        <origin xyz = "0 0 0" rpy = "0 0 0" />
        <parent link="${name}_link" />
        <child link="${name}_gyro_frame" />
      </joint>

      <joint name="${name}_imu_optical_joint" type="fixed">
        <origin xyz="-0.0311 0 0.00655" rpy="0 ${M_PI} 0" />
        <parent link="${name}_gyro_frame" />
        <child link="${name}_imu_optical_frame" />
      </joint>

       <joint name="${name}_accel_joint" type="fixed">
        <origin xyz = "0 0 0" rpy = "0 0 0" />
        <parent link="${name}_link" />
        <child link="${name}_accel_frame" />
      </joint>

      <joint name="${name}_accel_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="${name}_accel_frame"/>
        <child link="${name}_accel_optical_frame" />
      </joint>

    </xacro:if>
  </xacro:macro>
</robot>
